<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/eefa3fa24d.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div id="logo"><i class="fab fa-whatsapp"></i></div>
        <div id="nav-head">chat application</div>
    </nav>
    <div class="container">
    </div>
    <div class="chat">
        <textarea id="textarea" cols="30" rows="1" placeholder="write a message...."></textarea>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
</body>
</html>